*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/res/values/gemini_api_key.xml
Server/User/src/main/resources/application.properties
LocoAgent/.env
LocoAgent/.venv
LocoAgent/.gitignore
/.kiro
/docs

Server/UserService/src/main/resources/application.properties
Server/ActivityService/src/main/resources/application.properties
Server/ScoreService/src/main/resources/application.properties
Server/TrackService/src/main/resources/application.properties
Server/WPService/src/main/resources/application.properties
Server/AuthService/src/main/resources/application.properties
